@mixin d-flex-col {
    display: flex;
    flex-flow: column wrap;
}

@mixin font-set ($font-weight, $font-size, $line-height) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height/$font-size;
}