@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "./mixins";
@import "./variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $dark;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
    font-family: 'Cairo', sans-serif;
}

.wrapper {
    overflow: hidden;
}

.container {
    padding: 15px 15px 0 15px;

    @media screen and (min-width: 1440px) {
        padding: 20px 150px 0 150px;
    }
    
    @media screen and (min-width: 1920px) {
        padding: 0;
        max-width: 1620px;
        margin: 0 auto;
    }
}

.textUppercase {
    text-transform: uppercase;
}

.littleCircleActive {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 5px solid $primary;
        border-radius: 50%;
        right: 4px;
        top: 4px;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

.welcomeDiv {
    padding: 30px;
    min-height: 400px;
    width: 100%;
    position: relative;
    color: $grey;

    @media screen and (min-width: 768px) {
        width: 80%;
        min-width: 700px;
        padding: 30px 68px 70px 68px;
    }

    @media screen and (min-width: 1024px) {
        width: 55%;
    }

    @media screen and (min-width: 1440px) {
        width: 40%;
        padding-bottom: 100px;
    }

    .decorationList {
        position: absolute;
        top: 120px;
        left: 2px;

        @media screen and (min-width: 768px) {
            left: 0;
        }

        li {
            border-radius: 50%;
            border: 1px solid #A3ABB6;
            width: 6px;
            height: 6px;
            transition: all 0.15s ease-in;
            margin: 0 auto 20px auto;

            &.active {
                background-color: $grey;
                width: 12px;
                height: 12px;
            }

            &:not(.active):hover {
                background-color: $grey;
                cursor: pointer;
                width: 12px;
                height: 12px;
                margin-top: -6px;
            }

            @media screen and (min-width: 768px) {
                width: 8px;
                height: 8px;
                margin-bottom: 40px;

                &.active {
                    background-color: $grey;
                    width: 18px;
                    height: 18px;
                }

                &:not(.active):hover {
                    background-color: $grey;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    margin-top: -10px;
                }
            }
        }
    }

    .welcomeDiv__upperHeader {
        @include font-set (600, 17px, 23px);
        
        margin-bottom: 14px;
        color: $primary-soft;
    }
    
    h1 {
        @include font-set (700, 30px, 40px);

        margin-bottom: 26px;
        color: $grey-soft;

        @media screen and (min-width: 768px) {
            font-size: 55px;
            line-height: calc(60/55);
        }
    }

    p {
        @include font-set (400, 16px, 28px);

        margin-bottom: 40px;
    }

    button {
        @include font-set(700, 18px, 33.73px);

        text-align: center;
        background-color: $primary;
        border: none;
        border-radius: 6px;
        padding: 18px 10px;
        min-width: 220px;
        margin: 0 auto;
        color: white;
        transition: all 0.1s ease-in;

        @media screen and (min-width: 768px) {
            margin: 0;
            min-width: 197px;
        }

        &:hover {
            background-color: $grey;
            cursor: pointer;
        }
    }
}

.container__about {
    border-top: 1px solid rgba(235, 236, 240, 0.17);
    padding-top: 20px;

    ul {
        @include d-flex-col;

        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1440px) {
            padding-left: 80px;
        }

        li {
            flex: 1 1 auto;
            margin-bottom: 20px;

            &:hover {
                cursor: pointer;

                a::before {
                    opacity: 1;

                    @media screen and (min-width: 768px) and (max-width: 1023px) {
                        display: none;
                    }
                }

                path {
                        fill: $primary-soft;
                    }

                div {
                    h4,
                    p {
                        color:  #727883;
                    }
                }
            }

            @media screen and (min-width: 1024px) {
                max-width: calc(33% - 10px);
                padding-left: 10px;
            }

            @media screen and (min-width: 1440px) {
                max-width: calc(33% - 20px);
                padding-left: 20px;
            }

            a {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                position: relative;

                @media screen and (min-width: 1024px) {
                    padding-top: 15px;
                }

                @media screen and (min-width: 1440px) {
                    padding-top: 30px;
                }

                &::before {
                    content: "";
                    width: 80px;
                    height: 6px;
                    background-color: $primary;
                    position: absolute;
                    top: -15px;
                    left: calc(50% - 40px);
                    transition:  opacity 0.2s ease-in;
                    opacity: 0;

                    @media screen and (min-width: 1024px) {
                        top: -20px;
                        left: 0;
                        width: 80px;
                    }
                }
                
                svg {
                    display: inline-block;
                    margin: 0 auto;
                    width: 78px;
                    height: 78px;
                    transition: all 0.2s ease-in;

                    @media screen and (min-width: 768px) {
                        align-self: center;
                    }
    
                    @media screen and (min-width: 1024px) {
                        margin: 0;
                        align-self: start;
                    }

                    &.magisterHatIcon {
                        width: 79px;
                        height: 61px;
                    }

                    path {
                        transition: fill 0.2s ease-in;
                    }
                }
            }
    
                div {
                    width: 100%;
                    padding: 5px;
                    text-align: center;
                    color: $grey;
    
                    @media screen and (min-width: 768px) {
                        text-align: left;
                        width: calc(100% - 110px);
                        padding: 10px;
                    }
    
                    @media screen and (min-width: 1024px) {
                        width: calc(100% - 90px);
                        padding: 0 15px 15px 15px;
                    }
    
                    @media screen and (min-width: 1440px) {
                        padding: 0 30px 30px 30px;
                    }
    
                    h4 {
                        @include font-set (700, 24px, 44.98px);
                        
                        transition: color 0.2s ease-in;
                        color: $grey-soft;
                    }
    
                    p {
                        @include font-set (400, 16px, 28px);
                        
                        transition: color 0.2s ease-in;
                    }
                }
            }
        }
    }

.container__events {
    @include d-flex-col;

    justify-content: space-between;
    position: relative;
    margin: 0 -30px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 -15px;
    }

    @media screen and (min-width: 1440px) {
        margin: 0 -150px;
    }

    &::after {
        @media screen and (min-width: 1024px) {
            position: absolute;
            content: "";
            min-width: 150px;
            min-height: 252px;
            right: 0;
            background: linear-gradient(90deg, rgba(2,58,162,0) 0%, rgba(2,58,162,0.75) 65%, rgba(2,58,162,1) 100%);
        }
    }

    .selectEvent {
        @include d-flex-col;

        justify-content: center;
        background-color: $primary-soft;
        min-height: 150px;
        text-align: center;

        @media screen and (min-width: 768px) {
            min-width: 30%;
            padding: 0 10px;
        }

        @media screen and (min-width: 1024px) {
            min-width: 412px;
            padding: 0 70px 0 150px;
            text-align: left;
        }

        h4 {
            @include font-set(700, 24px, 44.98px);

            color: white;
            padding: 10px 0;
        }

        div {
            padding: 10px 0;

            svg {
                margin: 0 15px;
                width: 23px;
                height: 14px;
                transition: all 0.1s ease-in;

                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }

                &:first-of-type {
                    margin-left: 0;
                }

                @media screen and (min-width: 1920px) {
                    margin: 0 10px;
                }
            }
        }
    }

    ul {
        display: flex;
        background-color: $primary;
        justify-content: space-between;
        flex: 1 1 auto;

        li {
            @include d-flex-col;

            justify-content: space-between;
            padding: 34px 24px;
            margin: 0 auto;

            @media screen and (min-width: 768px) {
                margin: 0;
                padding: 48px 24px;
                flex-direction: row;
            }

            @media screen and (min-width: 1024px) {
                width: 500px;
            }

            &:not(:first-child) {
                display: none;

                @media screen and (min-width: 1024px) {
                    display: flex;
                }
            }

            .dateInCircle {
                @include d-flex-col;

                align-items: center;
                align-self: center;
                justify-content: center;
                width: 108px;
                height: 108px;
                border-radius: 50%;
                margin: 0 auto;
                background-color: #FBFF33;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.125;
                font-family: "Cairo", sans-serif;

                @media screen and (min-width: 768px) {
                    margin: -10px 32px 0 8px;
                }

                span {
                    font-size: 36px;
                }
            }

            div:not(.dateInCircle) {
                max-width: 100%;
                padding: 0 10px;
                text-align: center;
                color: white;

                @media screen and (min-width: 768px) {
                    padding: 10px 0;
                    max-width: calc(100% - 148px);
                    text-align: left;
                }

                h5 {
                    @include font-set (700, 20px, 37.48px);
                }

                time {
                    @include font-set (600, 16px, 28px);

                    font-family: 'Open Sans', sans-serif;
                }

                p {
                    @include font-set (400, 16px, 28px);

                    padding-top: 10px;
                    color: $grey;
                    max-width: 100%;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}