.searchPage {
    &__formContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: 50vh;
        padding: 15px 0;
        transform: translateY(-50%);
        transition: top 1s ease-in-out, transform 1s ease-in-out;
        will-change: top, transform;

        &__form {
            width: 70%;
            display: flex;
            flex-wrap: wrap;

            input {
                flex: 1 1 auto;
                margin-right: 10px;
                font-size: 1rem;
                border-radius: 4px;
                padding: 0 10px;

                &:focus {
                    outline: none;
                    border: 2px solid #2471d2;
                }
            }

            button[type="submit"] {
                background-color: #2471d2;
                min-width: 75px;
                max-width: 100px;
                min-height: 35px;
                border: none;
                border-radius: 4px;
                padding: 5px 8px;
                text-transform: capitalize;
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: #ffffff;
                font-weight: 600;
                margin-right: 20px;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2471d2;
                min-width: 75px;
                max-width: 180px;
                min-height: 35px;
                border: none;
                border-radius: 4px;
                padding: 5px 8px;
                text-transform: capitalize;
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: #ffffff;
                font-weight: 600;
                text-decoration: none;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
    }

    &__results {
        background-color: #2471d2;
        padding: 50px 100px;
        position: relative;
        top: 100vh;
        transition: top 1s ease-in-out;
        will-change: top;

        .listOfElems {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;

            &__elemCell {
                width: calc(100% / 3 - 20px);
                margin: 10px;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                button[data-value="liked"] {
                    background-color: #f0f8ff00;
                    position: absolute;
                    right: 10px;
                    bottom: 15px;
                    border: none;
                    transition: opacity 0.2s ease-in-out;
                    will-change: opacity;

                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
        }

        &__emptyPage {
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 4rem;
                line-height: 5rem;
            }
        }
    }

    .modalWindow {
        position: fixed;
        background-color: rgba(169, 169, 169, 0.74);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &__inner {
            max-width: 70%;
            position: relative;

            button[data-role="close"] {
                background-color: #2471d2;
                min-width: 75px;
                max-width: 100px;
                min-height: 35px;
                border: none;
                border-radius: 4px;
                padding: 5px 8px;
                text-transform: capitalize;
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: #ffffff;
                font-weight: 600;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;
                position: absolute;
                top: 10px;
                right: 10px;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }

            img {
                width: 100%;
                margin: 0 auto;
                max-height: 80vh;
            }
        }
    }

    .hidden {
        z-index: -1;
        visibility: hidden;
        padding: 0;
    }

    .active {
        top: 0;
        transform: translateY(0);
    }
}