main {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.userList {
    width: 50%;
    margin: 0 auto;
    outline: 4px solid rgba(28, 28, 139, .788);
    padding: 10px;

    li {
        padding: 7px;
        background-color: rgba(0, 185, 185, .61);
        line-height: 1.5em;
        outline: 1px solid rgba(0, 185, 185, .85);
        transition: opacity .18s ease-in;

        &:not(:last-child) {
            margin-bottom: 6px;
        }

        &:hover {
            opacity: .87;
            cursor: pointer;
        }

        span {
            font-weight: 700;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 99;
    padding: 30px 0;
    background-color: rgba(87, 87, 87, .61);

    .modal__container {
        width: 600px;
        max-width: 100%;
        background-color: lightgreen;
        padding: 20px;
        border-radius: 5px;
    }

    .modal__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .modal__close,
    .modal__addNew {
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        background-color: rgb(219, 219, 219);
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .modal__h2 {
        font-weight: 700;
        text-align: center;
        margin: 0 35px;
    }
}

.modal-form {
    padding: 10px;
    margin-bottom: 13px;

    .form__fieldset {
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
    
            label {
                font-weight: 600;
            }

            input, 
            textarea {
                width: 70%;
            }
        }
    }
}

li {
    list-style: none;
}

.li-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1.7px dashed rgba(49, 49, 221, 0.808);
    border-radius: 5px;
    padding: 7px;

    &:not(:last-child) {
        margin-bottom: 13px;
    }
}

.remove-button {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    border: none;
    background: none;
    width: 35px;
    height: 25px;
    transition: transform .2s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.07);
    }
}

.hidden {
    display: none;
}

.overflowHdn {
    overflow: hidden;
}