.addTodoContainer__addNewTodo {
    width: 100%;

    .form {
        display: flex;
        flex-direction: column;

        &__closeBtn {
            position: absolute;
            left: 20px;
            top: 20px;
            background-color: #94b1ce;
            border: none;
            border-radius: 4px;
            width: 55px;
            min-height: 25px;
            text-transform: capitalize;
            letter-spacing: 0.4px;
            padding: 4px;
            transition: opacity 0.2s ease-in-out;
            will-change: opacity;

            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }

        label {
            align-self: flex-end;
            margin-bottom: 15px;
        }

        input {
            padding: 4px;
            margin-bottom: 10px;
        }

        &__buttonsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                background-color: #94b1ce;
                border: none;
                border-radius: 4px;
                width: 90px;
                min-height: 30px;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                padding: 4px;
                font-weight: 600;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }

                &[type="reset"] {
                    background-color: #e76464;
                }
            }
        }
    }
}