body {
    background-color: lightgray;
    overflow-x: hidden;
}

main {
    padding: 40px;
}

.arrows {
    position: absolute;
    width: 70px;
    height: 70px;
    fill: rgba(255, 255, 255, 0.603);
    top: calc(50% - 35px);
    background: none;
    border: none;
    z-index: 100;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.arrowLeft {
    left: 30px;
    margin-top: -3px;
    transform: rotate(180deg);
}

.arrowRight {
    right: 30px;
}

.slider {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &__largeSlides {
        display: flex;
        flex-direction: row;

        li {
            z-index: 10;
            left: 0;
            position: absolute;
            transition: .55s opacity ease-in-out, .55s visibility ease-in-out;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;

            &.active {
                opacity: 1;
                visibility: visible;
            }

            img {
                object-fit: contain;
                max-height: 70vh;
            }
        }
    }

    &__minorSlides {
        position: absolute;
        bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        max-width: calc(100% - 20px);

        li {
            z-index: 50;
            margin: 0 4px;
            transition: .3s ease-in-out;
            width: 50px;
            opacity: .5;
            cursor: pointer;

            &.active-minor {
                width: 65px;
                opacity: 1;
            }

            img {
                object-fit: contain;
                width: 100%;
                border-radius: 15px;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    padding: 20px;
    background-color: rgba(87, 87, 87, 0.61);

    .modal__container {
        width: 600px;
        max-width: 100%;
        background-color: lightgray;
        padding: 5px;
        border-radius: 5px;

        img {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .arrows {
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        transition: fill .2s ease-in-out;

        &:hover {
            fill: rgba(251, 255, 0, 0.568);
        }
    }
    
    .noTransition {
        transition: none !important;
    }
    
    .arrowLeft {
        left: 10px;
    }
    
    .arrowRight {
        right: 10px;
    }
    
    .slider {
        max-width: calc(100vw - 100px);
    
        &__largeSlides {
            justify-content: flex-start;
    
            li {
                transition: .3s opacity ease-in-out, .3s visibility ease-in-out, left .3s cubic-bezier(.17,.63,.27,.99);

                &:hover {
                    opacity: .9;
                }
    
                img {
                    width: calc((100vw - 100px)/3);
                }
            }
        }
    
        &__minorSlides {
            bottom: 5px;
    
            li {
                width: 55px;

                &:hover {
                    opacity: .8;
                    transform: scale(1.1);
                }
    
                &.active-minor {
                    width: 72px;

                    &:hover {
                        transform: scale(1.11);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .modal {
        padding: 10px 0;
        
        .modal__container {
            width: 800px;
        }
    }
}