html,
body {
    overflow-x: hidden;
}

.scrollOff {
    overflow-y: hidden;
}

.scrollOn {
    overflow-y: auto;
}

.header {
    position: fixed;
    width: 100vw;
    min-height: 70px;
    height: 75px;
    background-color: #333;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        min-height: 100px;
        height: auto;
    }

    .logo {
        display: flex;
        align-items: center;
        
        img {
            width: 50px;
            height: 50px;

            @media screen and (min-width: 768px) {
                width: 70px;
                height: 70px;
            }
        }
    }

    .header__burgerMenu {
        background-color: #09c;
        position: absolute;
        top: 75px;
        left: 0;
        max-height: 100vh;
        overflow-y: auto;
        
        @media screen and (min-width: 768px) {
            position: static;
            padding: 10px;
            background-color: #333;
        } 

        ul {
            opacity: 0;
            display: none;
            transition: opacity .2s ease-in-out;
            
            li {
                margin-bottom: 10px;
                padding: 10px;
                text-align: center;
    
                &:hover {
                    a {
                        color: rgba(51, 51, 51, 0.788);
    
                        @media screen and (min-width: 768px) {
                            color: #09c;
                        }
                    }
                }
    
                @media screen and (min-width: 768px) {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }
    
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 700;
                    font-family: Arial, Helvetica, sans-serif;
                    transition: color 0.15s ease-in-out;
                }
            }

            @media screen and (min-width: 768px) {
                opacity: 1;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .show {
            display: block;
        }

        .visible {
            opacity: 1;
        }
    }

    .header__burgerMenu-fromLeft {
        min-height: 100vh;
        width: 200px;
        margin-left: -200px;

        @media screen and (min-width: 768px) {
            width: calc(100% - 110px);
            min-height: 100%;
            margin: auto;
        }
    }

    .header__burgerMenu-fromTop {
        width: 100%;
        height: 0;
        align-self: end;

        @media screen and (min-width: 768px) {
            width: calc(100% - 110px);
            height: 100%;
            align-self: center;
        }
    }

    .header__burgerMenu-slide { /*This class sets the animation behaviour like a slide*/
        transition: all .5s ease-in-out;

        @media screen and (min-width: 768px) {
            transition: none;
        }
    }

    .header__burgerMenu-fade { /*This class sets the animation behaviour like a fade*/
        opacity: 0;
        transition: opacity .5s ease-in-out;

        @media screen and (min-width: 768px) {
            opacity: 1;
            transition: none;
        }
    }

    .transitionFadeTop {
        transition: opacity .5s ease-in-out, height 0s .5s, padding 0s .5s;
    }

    .transitionFadeLeft {
        transition: opacity .5s ease-in-out, padding 0s .5s, margin-left 0s .5s;
    }

    .showBurger-top {
        opacity: 1;
        height: 100vh;
        padding: 50px 50px 100px 50px;
    }

    .showBurger-left {
        opacity: 1;
        margin-left: 0;
        padding: 50px 10px 100px 10px;
    }

    .burgerBtn {
        position: relative;
        width: 40px;
        height: 35px;

        &:hover {
            span {
                background-color: rgb(137, 225, 255);
            }
        }

        @media screen and (min-width: 768px) {
            display: none;
        }

        span {
            background-color: #09c;
            width: 100%;
            height: 6px;
            border-radius: 2px;
            position: absolute;
        }
        
        span:nth-child(1) {
            top: 0;
            transition-duration: .3s, .3s;
            transition-delay: .3s, 0s;
            transition-property: top, transform;
        }

        span:nth-child(2) {
            top: calc(50% - 3px);
            transition: opacity .3s ease-in-out;
        }

        span:nth-child(3) {
            bottom: 0;
            transition-duration: .3s, .3s;
            transition-delay: .3s, 0s;
            transition-property: bottom, transform;
        }
    }

    .active {
        span:nth-child(1) {
            top: calc(50% - 3px);
            transform: rotate(-45deg);
            transition-delay: 0s, .3s;
        }

        span:nth-child(2) {
            opacity: 0;
        }

        span:nth-child(3) {
            bottom: calc(50% - 3px);
            transform: rotate(45deg);
            transition-delay: 0s, .3s;
        }
    }
}

.main {
    min-height: calc(100vh - 100px);
    padding: 125px 25px 25px 25px;
    transition: all 0.5s ease-in-out;

    .main__section {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #666;

        h2 {
            text-transform: capitalize;
            font-size: 2.3em;
            font-weight: 600;
            margin-bottom: 20px;
            color: black;
        }

        h3 {
            font-size: 1.2em;
            margin-bottom: 19px;
        }

        p {
            margin-bottom: 16px;
            line-height: 24px;
        }
    }
}

.menu-active {
    position: relative;
    transform: translateX(200px);
    z-index: -1;
}

.resize-active {
	* {
		transition: none !important;
	}
}
