@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

/*Кружок со скидкой*/
.cornerLogo {
  position: absolute;
  left: 12px;
  top: 9px;
  width: 57px;
  height: 58px;
  border-radius: 50%;
}
.cornerLogo span {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: white;
  position: absolute;
  text-align: center;
  left: 14px;
  top: 11px;
}

/*Блок с ценами*/
.pricesLine {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .pricesLine {
    margin: 0;
  }
}
.pricesLine span:first-child {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  line-height: 27px;
  font-weight: 400;
}
.pricesLine span:nth-child(2) {
  margin-left: 22px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .pricesLine span:nth-child(2) {
    margin-left: 12px;
  }
}
.pricesLine span:nth-child(2):after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  height: 0;
  border-bottom: 3px solid #878787;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
.pricesLine span:last-child {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
  padding-left: 15px;
  margin-left: auto;
}

/*Линии вертикальные и горизонтальные*/
.dottedLineHorizontal {
  height: 2px;
  border-top: 2px dashed rgba(145, 145, 145, 0.322);
}

/*Цвет рамок и лого*/
.redBorder {
  border: 2px solid #fbbebe;
}
.redBorder .cornerLogo {
  background-color: #ff6666;
}
.redBorder .pricesLine span:first-child {
  color: #ff6666;
}

.orangeBorder {
  border: 2px solid #ff931d;
}
.orangeBorder .cornerLogo {
  background-color: #ff931d;
}
.orangeBorder .pricesLine span:first-child {
  color: #ff931d;
}

.yellowBorder {
  border: 2px solid #ffbe17;
}
.yellowBorder .cornerLogo {
  background-color: #ffbe17;
}
.yellowBorder .pricesLine span:first-child {
  color: #ffbe17;
}

img:hover {
  cursor: pointer;
}

/*Футер дива*/
.sectionFooter {
  border-top: 2px dashed rgba(145, 145, 145, 0.322);
}
.sectionFooter ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0;
}
.sectionFooter ul li {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  padding: 4px 3px;
}
@media screen and (min-width: 768px) {
  .sectionFooter ul li {
    padding: 4px 5px;
  }
}
.sectionFooter ul li time {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 15px;
  display: inline-block;
  color: #878787;
  text-align: center;
  width: inherit;
}
.sectionFooter ul li:not(:last-child) {
  border-right: 2px dashed rgba(145, 145, 145, 0.322);
}
.sectionFooter ul li:not([class=noHover]):hover {
  font-weight: bolder;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.main__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .main__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .main__container {
    display: block;
    overflow: hidden;
    margin: 0 -20px;
  }
}
.main__container .main__container__largeSilverCombine {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main__container .main__container__largeSilverCombine {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .main__container .main__container__largeSilverCombine {
    float: left;
    width: calc(100% / 3 - 40px);
    min-height: 520px;
    margin: 0 20px 30px 20px;
  }
}
.main__container .main__container__divs {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main__container .main__container__divs {
    width: 48%;
  }
}
@media screen and (min-width: 1024px) {
  .main__container .main__container__divs {
    float: left;
    width: calc(100% / 3 - 40px);
    min-height: 245px;
    margin: 0 20px 30px 20px;
  }
}

.main__container__largeSilverCombine {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 20px;
  padding-bottom: 0;
}
.main__container__largeSilverCombine__imageContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}
@media screen and (min-width: 1024px) {
  .main__container__largeSilverCombine__imageContainer {
    margin: 17px 0 34px 0;
  }
}
.main__container__largeSilverCombine__pricesLine {
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .main__container__largeSilverCombine__pricesLine {
    margin-bottom: 6px;
  }
}
.main__container__largeSilverCombine__paragraph {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  max-width: 100%;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 25px 0;
}
@media screen and (min-width: 1024px) {
  .main__container__largeSilverCombine__paragraph {
    max-width: 65%;
    margin: 15px 0 17px 0px;
  }
}
.main__container__largeSilverCombine img {
  max-width: 200px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.main__container__divs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 15px;
  width: 100%;
}
.main__container__divs__mainPart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px 0;
  min-height: 140px;
}
@media screen and (min-width: 768px) {
  .main__container__divs__mainPart {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .main__container__divs__mainPart {
    margin-bottom: 0px;
  }
}
.main__container__divs__mainPart p {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  margin-top: 20px;
  max-height: 50px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .main__container__divs__mainPart p {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .main__container__divs__mainPart p {
    width: 55%;
    margin-left: 3px;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .main__container__divs__mainPart img {
    max-height: 150px;
    max-width: 40%;
    margin-left: 5%;
  }
}