@import "./reset";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  background: rgb(215,215,215);
  background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(215,215,215,1) 100%); 
}

h1 {
  font-size: 32px;
  line-height: 1.3em;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 600;
}

h3 {
  font-size: 18.72px;
  line-height: 1.3em;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 1.2em;
}

h5 {
  font-size: 13.28px;
  line-height: 1.2em;
}

.header {
  width: 100%;
  min-height: 60px;
  padding: 5px 35px;
  background-color: #add8e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 99999;

  &__logo {
    max-width: 100px;
    max-height: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
      display: block;
      min-width: 80px;
      font-size: 1.3rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      transition: transform 0.2s ease-in-out;
      will-change: transform;

      &:hover {
        transform: scale(1.035);
      }
    }
  }

  &__cartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: relative;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

      &__popup {
        position: absolute;
        top: calc( 100% + 5px);
        right: -30px;
        width: 120px;
        padding: 5px;
        border: 2px solid #609baf;
        border-radius: 4px;
        background-color: #add8e6;

        span {
          display: block;
          text-align: center;
          margin-bottom: 5px;
        }

        a {
          display: block;
          text-transform: capitalize;
          font-weight: 600;
          text-align: center;
        }
    }

    &__indicator {
      position: absolute;
      min-width: 18px;
      height: 18px;
      padding: 4px;
      bottom: 5px;
      right: 3px;
      border-radius: 50%;
      background-color: #595496ea;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
  }
}

.main {
    width: 100%;
    padding: 20px;

    &__indexPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-height: calc(100vh - 60px - 40px);

      h2 {
        margin-bottom: 40px;
      }

      h3 {
        margin-bottom: 30px;
      }

      &__links {
        width: 600px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 277px;
          min-height: 60px;
          padding: 10px;
          border-radius: 4px;
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-transform: capitalize;
          letter-spacing: 0.8px;
          background-color: #d3d3d3;
          transition: transform 0.2s ease-in-out;
          will-change: transform;

          &:hover {
            transform: scale(1.03);
            cursor: pointer;
          }
        }
      }
    }

    &__categoriesContainer {
      min-height: calc(100vh - 60px - 40px);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &__list {
        & > li {
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            width: 280px;
            min-height: 60px;
            margin: 0 auto 30px auto;
            border-radius: 4px;
            text-transform: capitalize;
            background-color: #d3d3d3;
            transition: transform 0.2s ease-in-out;
            will-change: transform;

            &:hover {
              transform: scale(1.03);
              cursor: pointer;
            }
  
            span {
              color: #000;
              font-size: 1.35rem;
              line-height: 1.55rem;
            }
          }
        }
      }
    }

    &__productListContainer {
      & > .goBackBtn {
        margin-bottom: 12px;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
      }

      .productList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 -10px;

        &__singleProduct {
          width: calc(100% / 3 - 20px);
          margin: 0 10px 20px 10px;
          padding: 25px 15px 15px 15px;
          min-height: 530px;
          border: 2px solid #707070;
          background-color: #ffffff;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          position: relative;
          transition: transform 0.2s ease-in-out;
          will-change: transform;

          &:hover {
            transform: scale(1.006);
            cursor: pointer;
          }

          &__linkWrapper {
            transition: opacity 0.2s ease-in-out;
            will-change: opacity;
            flex: 1 1 auto;

            &:hover {
              opacity: 0.94;
              cursor: pointer;
            }

            &__imageContainer {
              width: 100%;
              height: 270px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 20px;
  
              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
  
            &__titleContainer {
              display: flex;
              align-items: flex-start;
              justify-content: center;
  
              h3 {
                margin: 0;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
              }
            }
          }

          &__price {
            font-size: 1.8rem;
            line-height: 2rem;
            font-weight: 600;
            margin-bottom: 18px;
          }

          &__buttonsContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            button {
              width: 100px;
              min-height: 30px;
              text-transform: capitalize;
              padding: 4px;
              border: none;
              background-color: #827cb8;
              color: #ffffff;
              border-radius: 4px;
              letter-spacing: 0.5px;
              transition: opacity 0.2s ease-in-out;
              will-change: opacity;

              &:hover {
                opacity: 0.9;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &__productCart {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0 5px;

      .productsInCart {
        width: 100%;

        &__eachProduct {
          padding: 10px 5px;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 20px;
          border: 1px solid #a9a9a9;
          background-color: #ffffff;
          border-radius: 5px;

          &__imageContainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }

            img {
              max-width: 100%;
              max-height: 200px;
            }
          }

          &__infoContainer {
            width: calc( 50% - 15px );
            padding: 15px 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            h3 {
              text-align: center;
              transition: opacity 0.2s ease-in-out;
              will-change: opacity;
              flex: 1 1 auto;

              &:hover {
                opacity: 0.8;
                cursor: pointer;
              }
            }

            & > span {
              align-self: flex-end;
              font-size: 1.8rem;
              line-height: 2.2rem;
              margin-bottom: 10px;
            }

            &__buttons {
              width: 230px;
              min-height: 35px;
              align-self: center;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              position: relative;

              button {
                width: 70px;
                min-height: 30px;
                font-size: 1.4rem;
                padding: 4px;
                border: none;
                border-radius: 4px;
                background-color: #827cb8;
                transition: opacity 0.2s ease-in-out;
                will-change: opacity;

                &:hover {
                  opacity: 0.8;
                  cursor: pointer;
                }
              }

              span {
                font-size: 1.3rem;
                line-height: 1.6rem;
                font-weight: 600;
              }
            }
          }

          &.showConfirm {
            .productsInCart__eachProduct__confirmContainer {
              display: flex !important;
            }
          }

          &__confirmContainer {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: rgba(194, 194, 194, 0.705);
              display: none;
              flex-direction: column;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;

              p {
                font-size: 1.2rem;
                line-height: 1.3rem;
                margin-bottom: 20px;
              }

              &__buttons {
                width: 240px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                button {
                  width: 100px;
                  min-height: 50px;
                  border: none;
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: opacity 0.2s ease-in-out;
                  will-change: opacity;
                  background-color: #e9e9e9;

                  &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                  }

                  span {
                    font-size: 1.15rem;
                    line-height: 1.3rem;
                    font-weight: 600;
                    text-transform: uppercase;
                  }

                  &[data-role="accept"] {
                    background-color: #726bb6;
                  }
                }
              }
          }

          &__removeCrossBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #ffffff00;
            position: absolute;
            right: 0px;
            top: 2px;
            transition: transform 0.2s ease-in-out;
            will-change: transform;

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
      }

      &__totalSum {
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: right;
        margin-bottom: 10px;

        span {
          font-weight: 600;
        }
      }

      &--empty {
        text-align: center;
        padding: 50px 0;
      }
    }

    &__clearCartContainer {
      align-self: flex-end;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 290px;
      margin-bottom: 25px;

      span {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      button[data-role="confirmClear"] {
        width: 150px;
        height: 30px;
        margin-right: 10px;
        background-color: #a9a9a9d5;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px 0 0 4px;
        border: none;
        position: relative;
        visibility: visible;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: -10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 15px 10px;
          border-color: transparent transparent transparent #a9a9a9d5;
        }

        &:hover {
          cursor: pointer;
        }
      }

      button[data-role="clearBtn"] {
        align-self: flex-end;
        width: 130px;
        min-height: 30px;
        border-radius: 4px;
        padding: 4px;
        border: none;
        background-color: #ce4047;
        position: relative;
        transition: transform 0.2s ease-in-out;
        will-change: transform;
  
        &:hover {
          transform: scale(1.02);
          cursor: pointer;
        }
      }
    }

    .spinner--loading::after {
      width: 55px;
      height: 55px;
      border-top-color: #add8e6;
    }

    &__formContainer {
      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;

        h3 {
          margin-bottom: 10px;
        }

        label {
          margin-bottom: 7px;
          max-width: 600px;

          &:hover {
            cursor: pointer;
          }
        }

        input {
          transition: opacity 0.2s ease-in-out;
          will-change: opacity;

          &:hover {
            opacity: 0.85;
            cursor: pointer;
          }
        }

        & > input {
          margin-bottom: 17px;
          max-width: 600px;
          min-height: 40px;
          background-color: #add8e6 !important;
          border: none;
          border-radius: 5px;
          padding: 4px 10px;
          font-size: 1rem;

          &[type="tel"] {
            margin-bottom: 25px;
          }
        }

        &__delivery {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-width: 600px;

          h4 {
            margin-bottom: 12px;
          }

          &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            min-height: 60px;
            margin-bottom: 25px;
            position: relative;

            & > div {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;

              & > label {
                margin-bottom: -2px;
                margin-right: 5px;
                text-transform: capitalize;
              }

              & > input {
                margin-right: 25px;
              }
            }

            &__deliveryDescr {
              flex: 1 1 auto;
              padding: 5px;
              border-radius: 4px;
            }
          }
        }

        &__errors {
          color: #ff0000;
          margin-top: -7px;
          margin-bottom: 15px;

          &.lastInContainer {
            margin-top: -15px;
            margin-bottom: 20px;
          }

          &.textArea {
            position: absolute;
            right: 5px;
            top: -20px;
            margin: 0;
          }
        }

        & > button[type="submit"] {
          margin: 0 auto;
          width: 250px;
          min-height: 40px;
          font-size: 1.4rem;
          font-weight: 600;
          padding: 4px;
          border: none;
          border-radius: 5px;
          background-color: #827cb8;
          letter-spacing: 0.8px;
          transition: opacity 0.2s ease-in-out;
          will-change: opacity;

          &:hover {
            opacity: 0.85;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__productPage {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;;

    .productPageContent {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 0;
      flex: 1 1 auto;

      &__imageContainer {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          max-width: 90%;
          max-height: 70vh;
        }
      }
  
      .infoContainer {
        width: calc( 55% - 15px );
        padding: 25px 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
  
        h2 {
          text-align: center;
          margin: 0 0 55px 0;
        }

        p {
          font-size: 1rem;
          line-height: 1.4rem;
          flex: 1 1 auto;
        }
  
        & > span {
          align-self: flex-end;
          font-size: 2rem;
          line-height: 2.3rem;
          margin-bottom: 30px;
        }
  
        &__buttons {
          width: 230px;
          align-self: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
  
          button {
            width: 70px;
            min-height: 30px;
            font-size: 1.4rem;
            padding: 4px;
            border: none;
            background-color: #827cb8;
            transition: opacity 0.2s ease-in-out;
            will-change: opacity;
  
            &:hover {
              opacity: 0.8;
              cursor: pointer;
            }
          }
  
          span {
            font-size: 1.3rem;
            line-height: 1.6rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.errorPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 15px;
  }

  & > a {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    padding: 4px 15px;
    border-radius: 4px;
    background-color: #827cb89d;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    will-change: transform;


    &:hover {
      transform: translateY(2.5px);
      background-color: #827cb8ce;
    }
  }
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.disabled {
  background-color: #9c9c9c !important;

  &:hover {
    cursor: initial !important;
    opacity: 1 !important;
  }
}

//GoBack button styles

.goBackBtn {
  width: 130px;
  min-height: 35px;
  padding: 4px;
  border: none;
  background-color: #696494;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  will-change: opacity;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  span {
    text-transform: capitalize;
    color: #ffffff;
    letter-spacing: 0.8px;
    font-weight: 600;
  }
}

//spinner styles 

.spinner {
  position: relative;
  padding: 0;
}

.width-100 {
  width: 100%;
}

.spinner__text {
  transition: all 0.2s;
}

.spinner--loading .spinner__text {
  visibility: hidden;
  opacity: 0;
}

.spinner--loading::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease-in-out infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}