@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
footer {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: currentColor;
}

.footer {
  background-color: #080A12;
  padding: 20px 20px 0 20px;
  position: relative;
  overflow: hidden;
}
.footer::before {
  position: absolute;
  content: url(../img/waveElement.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  bottom: 0;
}
.footer::after {
  position: absolute;
  content: url(../img/waveElement2.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
  top: 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 70px 0 70px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 100px 80px 0 80px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding: 116px 126px 0 150px;
  }
}
.footer__upper {
  min-height: 25vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Cairo", sans-serif;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .footer__upper {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__upper {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__upper {
    margin: 0 105px calc(127px - 14px) 0;
  }
}
.footer__upper ul {
  width: calc(100%/2);
  margin-bottom: 10px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .footer__upper ul {
    width: calc(100%/3);
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__upper ul {
    width: auto;
    margin-bottom: 0;
  }
}
.footer__upper ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87375;
  margin-bottom: 14px;
  color: #A3ABB6;
  max-width: 150px;
}
.footer__upper ul li h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.874;
  margin-bottom: 17px;
  color: #EBECF0;
}
.footer__upper ul li:not(:first-child) {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__upper ul li:not(:first-child):hover {
  color: #2459A8;
  cursor: pointer;
}
.footer__middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .footer__middle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__middle {
    padding-bottom: 112px;
  }
}
.footer__middle__contacts {
  max-width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .footer__middle__contacts {
    max-width: 50%;
    margin: 0;
  }
}
.footer__middle__contacts .logo {
  display: block;
  width: 200px;
  margin-bottom: 30px;
}
.footer__middle__contacts .logo a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__middle__contacts .logo a svg.mainLogoIcon {
  width: 49px;
  height: 41px;
}
.footer__middle__contacts .logo a span {
  line-height: calc(62.01 / 39);
  font-size: 39px;
  color: #EBECF0;
  font-family: "MuseoModerno", cursive;
}
.footer__middle__contacts .logo a:hover {
  -webkit-animation: rotate 1s 1 ease-in-out forwards;
          animation: rotate 1s 1 ease-in-out forwards;
  cursor: pointer;
}
@-webkit-keyframes rotate {
  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate {
  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.footer__middle__contacts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #EBECF0;
  margin-bottom: 25px;
}
@media screen and (min-width: 1440px) {
  .footer__middle__contacts p {
    margin-bottom: 42px;
  }
}
.footer__middle__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87375;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Cairo", sans-serif;
  color: #EBECF0;
}
@media screen and (min-width: 1440px) {
  .footer__middle__adress {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__middle__adress a {
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.footer__middle__adress a:hover {
  color: #2459A8;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .footer__middle__adress a:not(:first-child) {
    margin-left: 20px;
  }
}
.footer__middle__followUs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer__middle__followUs {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .footer__middle__followUs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 32%;
    padding: 0;
  }
}
.footer__middle__followUs__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #EBECF0;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__middle__followUs__header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.361875;
  }
}
@media screen and (min-width: 1024px) {
  .footer__middle__followUs__header {
    text-align: start;
  }
}
.footer__middle__social {
  padding: 10px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__middle__social svg {
  /*На всякий случай, если добавят новые иконки*/
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.footer__middle__social svg:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}
.footer__middle__social svg:hover path {
  fill: #2459A8;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__middle__social svg.facebookIcon {
  width: 13px;
  height: 23px;
}
.footer__middle__social svg.twitterIcon {
  width: 23px;
  height: 21px;
}
.footer__middle__social svg.youtubeIcon {
  width: 32px;
  height: 24px;
}
.footer__middle__social svg.linkedinIcon {
  width: 25px;
  height: 24px;
}
.footer__middle__social svg.instagramIcon {
  width: 23px;
  height: 23px;
}
.footer__middle__buttonLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.footer__middle__buttonLinks a {
  background-color: #171B2C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  border: none;
  margin: 0 10px 20px 10px;
  padding: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.footer__middle__buttonLinks a:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}
@media screen and (min-width: 1920px) {
  .footer__middle__buttonLinks a {
    min-width: 231px;
  }
}
.footer__middle__buttonLinks a svg {
  height: 38px;
  margin: 0 15px 0 10px;
}
.footer__middle__buttonLinks a svg.appleIcon {
  width: 30px;
}
.footer__middle__buttonLinks a svg.androidIcon {
  width: 26px;
}
.footer__middle__buttonLinks a > div p:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  font-family: "Lato", sans-serif;
  color: #EBECF0;
}
.footer__middle__buttonLinks a > div p:not(:first-child) {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  color: #EBECF0;
}
.footer__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  margin: 0 -20px;
  border-top: 1px solid rgba(243, 243, 243, 0.08);
  font-family: "Cairo", sans-serif;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .footer__bottom {
    padding: 20px 70px;
    margin: 0 -70px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__bottom {
    padding: 27px 150px;
    margin: 0 -150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .footer__bottom {
    margin: 0 -136px 0 -150px;
  }
}
.footer__bottom__copyRight {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87375;
  color: #EBECF0;
}
.footer__bottom nav {
  padding: 10px 0;
}
@media screen and (min-width: 1024px) {
  .footer__bottom nav {
    padding: 0;
  }
}
.footer__bottom nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.footer__bottom nav ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87375;
  color: #A3ABB6;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.footer__bottom nav ul li:hover {
  color: #2459A8;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__bottom nav ul li {
    margin: 0;
    max-width: 200px;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__bottom nav ul li a {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__bottom nav ul li a {
    padding: 0 41px;
  }
}
.footer__bottom__signature {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87375;
  color: #EBECF0;
}
.footer__bottom__signature span {
  color: red;
}