@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #080A12;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "Cairo", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  padding: 15px 15px 0 15px;
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 20px 150px 0 150px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0;
    max-width: 1620px;
    margin: 0 auto;
  }
}

.textUppercase {
  text-transform: uppercase;
}

.littleCircleActive {
  position: relative;
}
.littleCircleActive::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 5px solid #023AA2;
  border-radius: 50%;
  right: 4px;
  top: 4px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.welcomeDiv {
  padding: 30px;
  min-height: 400px;
  width: 100%;
  position: relative;
  color: #A3ABB6;
}
@media screen and (min-width: 768px) {
  .welcomeDiv {
    width: 80%;
    min-width: 700px;
    padding: 30px 68px 70px 68px;
  }
}
@media screen and (min-width: 1024px) {
  .welcomeDiv {
    width: 55%;
  }
}
@media screen and (min-width: 1440px) {
  .welcomeDiv {
    width: 40%;
    padding-bottom: 100px;
  }
}
.welcomeDiv .decorationList {
  position: absolute;
  top: 120px;
  left: 2px;
}
@media screen and (min-width: 768px) {
  .welcomeDiv .decorationList {
    left: 0;
  }
}
.welcomeDiv .decorationList li {
  border-radius: 50%;
  border: 1px solid #A3ABB6;
  width: 6px;
  height: 6px;
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  margin: 0 auto 20px auto;
}
.welcomeDiv .decorationList li.active {
  background-color: #A3ABB6;
  width: 12px;
  height: 12px;
}
.welcomeDiv .decorationList li:not(.active):hover {
  background-color: #A3ABB6;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}
@media screen and (min-width: 768px) {
  .welcomeDiv .decorationList li {
    width: 8px;
    height: 8px;
    margin-bottom: 40px;
  }
  .welcomeDiv .decorationList li.active {
    background-color: #A3ABB6;
    width: 18px;
    height: 18px;
  }
  .welcomeDiv .decorationList li:not(.active):hover {
    background-color: #A3ABB6;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: -10px;
  }
}
.welcomeDiv .welcomeDiv__upperHeader {
  font-weight: 600;
  font-size: 17px;
  line-height: 1.3529411765;
  margin-bottom: 14px;
  color: #2459A8;
}
.welcomeDiv h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3333333333;
  margin-bottom: 26px;
  color: #EBECF0;
}
@media screen and (min-width: 768px) {
  .welcomeDiv h1 {
    font-size: 55px;
    line-height: calc(60/55);
  }
}
.welcomeDiv p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 40px;
}
.welcomeDiv button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8738888889;
  text-align: center;
  background-color: #023AA2;
  border: none;
  border-radius: 6px;
  padding: 18px 10px;
  min-width: 220px;
  margin: 0 auto;
  color: white;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
@media screen and (min-width: 768px) {
  .welcomeDiv button {
    margin: 0;
    min-width: 197px;
  }
}
.welcomeDiv button:hover {
  background-color: #A3ABB6;
  cursor: pointer;
}

.container__about {
  border-top: 1px solid rgba(235, 236, 240, 0.17);
  padding-top: 20px;
}
.container__about ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .container__about ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .container__about ul {
    padding-left: 80px;
  }
}
.container__about ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 20px;
}
.container__about ul li:hover {
  cursor: pointer;
}
.container__about ul li:hover a::before {
  opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__about ul li:hover a::before {
    display: none;
  }
}
.container__about ul li:hover path {
  fill: #2459A8;
}
.container__about ul li:hover div h4,
.container__about ul li:hover div p {
  color: #727883;
}
@media screen and (min-width: 1024px) {
  .container__about ul li {
    max-width: calc(33% - 10px);
    padding-left: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .container__about ul li {
    max-width: calc(33% - 20px);
    padding-left: 20px;
  }
}
.container__about ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container__about ul li a {
    padding-top: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .container__about ul li a {
    padding-top: 30px;
  }
}
.container__about ul li a::before {
  content: "";
  width: 80px;
  height: 6px;
  background-color: #023AA2;
  position: absolute;
  top: -15px;
  left: calc(50% - 40px);
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .container__about ul li a::before {
    top: -20px;
    left: 0;
    width: 80px;
  }
}
.container__about ul li a svg {
  display: inline-block;
  margin: 0 auto;
  width: 78px;
  height: 78px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 768px) {
  .container__about ul li a svg {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .container__about ul li a svg {
    margin: 0;
    -webkit-align-self: start;
        -ms-flex-item-align: start;
            align-self: start;
  }
}
.container__about ul li a svg.magisterHatIcon {
  width: 79px;
  height: 61px;
}
.container__about ul li a svg path {
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}
.container__about ul li div {
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #A3ABB6;
}
@media screen and (min-width: 768px) {
  .container__about ul li div {
    text-align: left;
    width: calc(100% - 110px);
    padding: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .container__about ul li div {
    width: calc(100% - 90px);
    padding: 0 15px 15px 15px;
  }
}
@media screen and (min-width: 1440px) {
  .container__about ul li div {
    padding: 0 30px 30px 30px;
  }
}
.container__about ul li div h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8741666667;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  color: #EBECF0;
}
.container__about ul li div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.container__events {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 0 -30px;
}
@media screen and (min-width: 768px) {
  .container__events {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    margin: 0 -15px;
  }
}
@media screen and (min-width: 1440px) {
  .container__events {
    margin: 0 -150px;
  }
}
@media screen and (min-width: 1024px) {
  .container__events::after {
    position: absolute;
    content: "";
    min-width: 150px;
    min-height: 252px;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(2, 58, 162, 0)), color-stop(65%, rgba(2, 58, 162, 0.75)), to(#023aa2));
    background: -o-linear-gradient(left, rgba(2, 58, 162, 0) 0%, rgba(2, 58, 162, 0.75) 65%, #023aa2 100%);
    background: linear-gradient(90deg, rgba(2, 58, 162, 0) 0%, rgba(2, 58, 162, 0.75) 65%, #023aa2 100%);
  }
}
.container__events .selectEvent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2459A8;
  min-height: 150px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container__events .selectEvent {
    min-width: 30%;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1024px) {
  .container__events .selectEvent {
    min-width: 412px;
    padding: 0 70px 0 150px;
    text-align: left;
  }
}
.container__events .selectEvent h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8741666667;
  color: white;
  padding: 10px 0;
}
.container__events .selectEvent div {
  padding: 10px 0;
}
.container__events .selectEvent div svg {
  margin: 0 15px;
  width: 23px;
  height: 14px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.container__events .selectEvent div svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.container__events .selectEvent div svg:first-of-type {
  margin-left: 0;
}
@media screen and (min-width: 1920px) {
  .container__events .selectEvent div svg {
    margin: 0 10px;
  }
}
.container__events ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #023AA2;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.container__events ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 34px 24px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container__events ul li {
    margin: 0;
    padding: 48px 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .container__events ul li {
    width: 500px;
  }
}
.container__events ul li:not(:first-child) {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container__events ul li:not(:first-child) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.container__events ul li .dateInCircle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FBFF33;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  font-family: "Cairo", sans-serif;
}
@media screen and (min-width: 768px) {
  .container__events ul li .dateInCircle {
    margin: -10px 32px 0 8px;
  }
}
.container__events ul li .dateInCircle span {
  font-size: 36px;
}
.container__events ul li div:not(.dateInCircle) {
  max-width: 100%;
  padding: 0 10px;
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .container__events ul li div:not(.dateInCircle) {
    padding: 10px 0;
    max-width: calc(100% - 148px);
    text-align: left;
  }
}
.container__events ul li div:not(.dateInCircle) h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.874;
}
.container__events ul li div:not(.dateInCircle) time {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
}
.container__events ul li div:not(.dateInCircle) p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  padding-top: 10px;
  color: #A3ABB6;
  max-width: 100%;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}