* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  border-radius: 8px;
  width: 400px;
  margin: 90px auto;
}
.form div {
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#c6c6c6));
  background: -o-linear-gradient(top, #f4f4f4, #c6c6c6);
  background: linear-gradient(180deg, #f4f4f4, #c6c6c6);
  border: 1px solid #929292;
  border-radius: 8px 8px 0 0;
}
.form div h2 {
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
}
.form ul {
  border: 1px solid #929292;
  border-top: none;
  border-radius: 0 0 8px 8px;
}
.form ul li {
  border-bottom: 1px solid #929292;
}
.form ul li label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  color: gray;
}
.form ul li label input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  width: 40px;
  height: 40px;
  border: 3px solid gray;
  border-radius: 50%;
}
.form ul li label input:checked {
  border: 3px solid #2ba02b;
  background-image: url("https://img.icons8.com/emoji/48/000000/check-mark-emoji.png");
  background-size: contain;
}
.form ul li label input:checked + span {
  text-decoration: line-through;
  color: #2ba02b;
}
.form ul li label span {
  margin: 0 auto 0 35px;
  max-width: calc(100% - 100px);
}
.form ul li label:hover,
.form ul li input:hover {
  cursor: pointer;
}
.form ul li:last-child {
  border-bottom: none;
}