.favImages {
    padding: 20px 0;

    &__goBackBtn {
        background-color: #2471d2;
        min-width: 75px;
        max-width: 100px;
        min-height: 35px;
        border: none;
        border-radius: 4px;
        padding: 5px 8px;
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: 0.5px;
        color: #ffffff;
        font-weight: 600;
        margin: 0 20px 20px 20px;
        transition: opacity 0.2s ease-in-out;
        will-change: opacity;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__outerContainer {
        background-color: #2471d2;

        .listOfFavElems {
            display: flex;
            flex-wrap: wrap;
    
            &__elemCell {
                width: calc(100% / 3 - 20px);
                margin: 10px;
                position: relative;
    
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
    
                button[data-value="liked"] {
                    background-color: #f0f8ff00;
                    position: absolute;
                    right: 10px;
                    bottom: 15px;
                    border: none;
                    transition: opacity 0.2s ease-in-out;
                    will-change: opacity;

                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }

                    img {
                        width: 30px;
                        height: auto;
                    }
                }
            }
        }

        .emptyPage {
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    }
}