@mixin text-style ($size, $lineheight) {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: ($size);
    line-height: ($lineheight);
}

@mixin d-flex-col {
    display: flex;
    flex-flow: column wrap;
}
