@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import "./mixins";

* {
    box-sizing: border-box;
}

main {
    overflow-x: hidden;
}

/*Кружок со скидкой*/
.cornerLogo {
    position: absolute;
    left: 12px;
    top: 9px;
    width: 57px;
    height: 58px;
    border-radius: 50%;

    span {
        @include text-style (17px, 17px);

        color: white;
        position: absolute;
        text-align: center;
        left: 14px;
        top: 11px;
    }
}

/*Блок с ценами*/
.pricesLine {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        margin: 0;
    }

    span:first-child {
        font-family: 'Dosis', sans-serif;
        font-size: 25px;
        line-height: 27px;
        font-weight: 400;
    }

    span:nth-child(2) {
        margin-left: 22px;
        position: relative;

        @media screen and (min-width: 1024px) {
            margin-left: 12px;
        }
    }

    span:nth-child(2):after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 6px;
        width: 100%;
        height: 0;
        border-bottom: 3px solid #878787;;
        transform: rotate(15deg);
    }

    span:last-child {
        @include text-style (13px, 15px);

        color: #878787;
        padding-left: 15px;
        margin-left: auto;
    }
}

/*Линии вертикальные и горизонтальные*/
.dottedLineHorizontal {
    height: 2px;
    border-top: 2px dashed rgba(145, 145, 145, 0.322);
}


/*Цвет рамок и лого*/
.redBorder {
    border: 2px solid #fbbebe;
    
    .cornerLogo {
        background-color: #ff6666;
    }

    .pricesLine {
        span:first-child {
            color: #ff6666;
        }
    }
}
.orangeBorder {
    border: 2px solid #ff931d;
    
    .cornerLogo {
        background-color: #ff931d;
    }

    .pricesLine {
        span:first-child {
            color: #ff931d;
        }
    }
}
.yellowBorder {
    border: 2px solid #ffbe17;

    .cornerLogo {
        background-color: #ffbe17;
    }
    
    .pricesLine {
        span:first-child {
            color:#ffbe17;
        }
    }
}

img:hover {
    cursor: pointer;
}

/*Футер дива*/
.sectionFooter {
    border-top: 2px dashed rgba(145, 145, 145, 0.322);
    
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3px 0;

        li {
            @include text-style(13px, 15px);
            color: #878787;
            
            flex: 1 1 auto;
            text-align: center;
            padding: 4px 3px;

                @media screen and (min-width: 768px) {
                    padding: 4px 5px;
                }

            time {
                @include text-style(13px, 15px);
                
                display: inline-block;
                color: #878787;
                text-align: center;
                width: inherit;
            }
        }

        li:not(:last-child) {
            border-right: 2px dashed rgba(145, 145, 145, 0.322)
        }

        li:not([class="noHover"]):hover {
            font-weight: bolder;
            transform: scale(1.02);
            transition: all 0.1s ease-in;
            cursor: pointer;
        }
    }
}

.main__container {
    @include d-flex-col;

    justify-content: space-between;
    padding: 15px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1024px){
        display: block;
        overflow: hidden;
        margin: 0 -20px;
    }

    .main__container__largeSilverCombine {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 100%;
        }
        
        @media screen and (min-width: 1024px){
            float: left;
            width: calc(100% / 3 - 40px);
            min-height: 520px;
            margin: 0 20px 30px 20px;
        }
    }

    .main__container__divs {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 48%;
        }

        @media screen and (min-width: 1024px){
            float: left;
            width: calc(100% / 3 - 40px);
            min-height: 245px;
            margin: 0 20px 30px 20px;
        }
    }
}

.main__container__largeSilverCombine {
    @include d-flex-col;

    justify-content: space-between;
    position: relative;
    padding: 20px;
    padding-bottom: 0;

    &__imageContainer {
        display: flex;
        justify-content: center;
        margin: 40px 0;

        @media screen and (min-width: 1024px) {
            margin: 17px 0 34px 0;
        }
    }

    &__pricesLine {
        margin-bottom: 12px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 6px;
        }
    }

    &__paragraph {
        @include text-style(14px, 18px);

        max-width: 100%;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 25px 0;
        
        @media screen and (min-width: 1024px) {
            max-width: 65%;
            margin: 15px 0 17px 0px;
        }
    }

    img {
        max-width: 200px;
        display: block;
        object-fit: contain;
        height: auto;
    }
}

.main__container__divs {
        @include d-flex-col;
        
        justify-content: space-between;
        position: relative;
        padding: 0 15px;
        width: 100%;

        &__mainPart {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 35px 0;
            min-height: 140px;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                align-items: flex-end;
                margin-top: 10px;
            }

            @media screen and (min-width: 1024px) {
                margin-bottom: 0px;
            }
    
            p {
                @include text-style(14px, 18px);

                align-self: start;
                margin-top: 20px;
                max-height: 50px;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media screen and (min-width: 768px) {
                    align-self: flex-end;
                    margin-top: 70px;
                }

                @media screen and (min-width: 1024px) {
                    width: 55%;
                    margin-left: 3px;
                    align-self: flex-end;
                }
            }

            img {
                @media screen and (min-width: 1024px) {
                    max-height: 150px;
                    max-width: 40%;
                    margin-left: 5%;
                }
            }
        }
}