@import "./mixins.scss";
@import "./variables.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    border-radius: 8px;
    width: 400px;
    margin: 90px auto;

    div {
        padding: 20px;
        background: -webkit-linear-gradient(180deg, rgb(244, 244, 244), rgb(198, 198, 198));
        background: -moz-linear-gradient(180deg, rgb(244, 244, 244), rgb(198, 198, 198));
        background: linear-gradient(180deg, rgb(244, 244, 244), rgb(198, 198, 198));
        border: 1px solid $grey-color;
        border-radius: 8px 8px 0 0;

        h2 {
            font-size: 20px;
            font-weight: 600;
            color: rgb(94, 94, 94);
        }
    }

    ul {
        border: 1px solid $grey-color;
        border-top: none;
        border-radius: 0 0 8px 8px;

        li {
            border-bottom: 1px solid $grey-color;

            label {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                position: relative;
                padding: 20px 40px;
                font-size: 18px;
                font-weight: 600;
                color: gray;

                input {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    -o-appearance: none;
                    align-self: start;
                    width: 40px;
                    height: 40px;
                    border: 3px solid gray;
                    border-radius: 50%;
                }

                input:checked {
                    border: 3px solid $green-color;
                    background-image: url("https://img.icons8.com/emoji/48/000000/check-mark-emoji.png");
                    background-size: contain;
                }

                input:checked + span {
                    text-decoration: line-through;
                    color:  $green-color;
                }

                span {
                    margin: 0 auto 0 35px;
                    max-width: calc(100% - 100px);
                }
            }

            label:hover,
            input:hover {
                cursor: pointer;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}