@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "./mixins";
@import "./variables";

* {
    box-sizing: border-box;
}

html,
body,
footer {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: currentColor;
}

.footer {
    background-color: $dark;
    padding: 20px 20px 0 20px;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: url(../img/waveElement.png);
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        bottom: 0;
    }
    
    &::after {
        position: absolute;
        content: url(../img/waveElement2.png);
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
        top: 0;
    }

    @media screen and (min-width: 768px) {
        padding: 50px 70px 0 70px;
    }

    @media screen and (min-width: 1024px) {
        padding: 100px 80px 0 80px;
    }

    @media screen and (min-width: 1440px) {
        padding: 116px 126px 0 150px;
    }

    &__upper {
        min-height: 25vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'Cairo', sans-serif;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 1024px) {
            margin-bottom: 100px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0 105px calc(127px - 14px) 0;
        }

        ul {
            width: calc(100%/2);
            margin-bottom: 10px;
            padding-right: 15px;

            @media screen and (min-width: 768px) {
                width: calc(100%/3);
                margin-bottom: 25px;
            }

            @media screen and (min-width: 1024px) {
                width: auto;
                margin-bottom: 0;
            }

            li {
                @include font-set (600, 16px, 29.98px);
                
                margin-bottom: 14px;
                color: $grey;
                max-width: 150px;
                
                h4 {
                    @include font-set (700, 20px, 37.48px);

                    margin-bottom: 17px;
                    color: $grey-soft;
                }
            }

            li:not(:first-child) {
                transition: all 0.2s ease-in;

                &:hover {
                    color: $primary-soft;
                    cursor: pointer;
                }
            }
        }
    }

    &__middle {
        @include d-flex-col;

        padding-bottom: 30px;
        justify-content: space-between;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            padding-bottom: 40px;
        }

        @media screen and (min-width: 1024px) {
            padding-bottom: 112px;
        }

        &__contacts {
            max-width: 100%;
            margin-bottom: 25px;

            @media screen and (min-width: 768px) {
                max-width: 50%;
                margin: 0;
            }

            .logo {
                display: block;
                width: 200px;
                margin-bottom: 30px;

                a {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    svg.mainLogoIcon {
                        width: 49px;
                        height: 41px;
                    }

                    span {
                        line-height: calc(62.01 / 39);
                        font-size: 39px;
                        color: $grey-soft;
                        font-family: 'MuseoModerno', cursive;
                    }
                }

                a:hover {
                    animation: rotate 1s 1 ease-in-out forwards;
                    cursor: pointer;
    
                    @keyframes rotate {
                        33% {
                            transform: rotate(3deg);
                        }
                        66% {
                            transform: rotate(-3deg);
                        }
                        100% {
                            transform: rotate(0);
                        }
                    }
                }
            }

            p {
                @include font-set (400, 16px, 24px);

                font-family: 'Open Sans', sans-serif;
                color: $grey-soft;
                margin-bottom: 25px;

                @media screen and (min-width: 1440px) {
                    margin-bottom: 42px;
                }
            }
        }

        &__adress {
            @include font-set (400, 16px, 29.98px);
            @include d-flex-col;

            justify-content: space-between;
            font-family: 'Cairo', sans-serif;
            color: $grey-soft;

            @media screen and (min-width: 1440px) {
                flex-direction: row;
            }

            a {
                transition: all 0.1s ease-in;

                &:hover {
                    color: $primary-soft;
                    cursor: pointer;
                }
            }

            a:not(:first-child) {
                @media screen and (min-width: 1440px) {
                    margin-left: 20px;
                }
            }
        }

        &__followUs {
            @include d-flex-col;

            justify-content: flex-start;
            width: 100%;
            position: relative;
            z-index: 1;
            padding-top: 20px;

            @media screen and (min-width: 768px) {
                width: 40%;
            }

            @media screen and (min-width: 1440px) {
                justify-content: space-between;
                width: 32%;
                padding: 0;
            }

            &__header {
                @include font-set (600, 20px, 26px);

                color: $grey-soft;
                font-family: 'Open Sans', sans-serif;
                padding-bottom: 10px;
                text-align: center;
                margin-bottom: 10px;

                @media screen and (min-width: 768px) {
                    @include font-set (400, 16px, 21.79px);
                }

                @media screen and (min-width: 1024px) {
                    text-align: start;
                }
            }
        }

        &__social {
            padding: 10px 0;
            margin-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            svg {
                /*На всякий случай, если добавят новые иконки*/
                width: 22px;
                height: 22px;
                transition: all 0.1s ease-in;

                &:hover {
                    transform: scale(1.04);
                    cursor: pointer;
                    
                    path {
                        fill: $primary-soft;
                        transition: all 0.2s ease-in;
                    }
                }

                &.facebookIcon {
                    width: 13px;
                    height: 23px;
                }

                &.twitterIcon {
                    width: 23px;
                    height: 21px;
                }

                &.youtubeIcon {
                    width: 32px;
                    height: 24px;
                }

                &.linkedinIcon {
                    width: 25px;
                    height: 24px;
                }

                &.instagramIcon {
                    width: 23px;
                    height: 23px;
                }
            }
        }

        &__buttonLinks {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;

            a {
                background-color: #171B2C;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                border: none;
                margin: 0 10px 20px 10px;
                padding: 20px;
                flex: 1 1 auto;
                transition: all 0.1s ease-in;

                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }

                @media screen and (min-width: 1920px) {
                    min-width: 231px;
                }

                svg {
                    height: 38px;
                    margin: 0 15px 0 10px;

                    &.appleIcon {
                        width: 30px;
                    }

                    &.androidIcon {
                        width: 26px;
                    }
                }

                & > div {
                    p:first-child {
                        @include font-set (400, 14px, 24px);

                        font-family: 'Lato', sans-serif;
                        color: $grey-soft;
                    }

                    p:not(:first-child) {
                        @include font-set (900, 20px, 24px);

                        font-family: 'Lato', sans-serif;
                        color: $grey-soft;
                    }
                }
            }
        }
    }

    &__bottom {
        @include d-flex-col;

        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 0 -20px;
        border-top: 1px solid rgba(243, 243, 243, 0.08);
        font-family: 'Cairo', sans-serif;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 768px) {
            padding: 20px 70px;
            margin: 0 -70px;
        }

        @media screen and (min-width: 1024px) {
            padding: 27px 150px;
            margin: 0 -150px;
            flex-direction: row;
        }

        @media screen and (min-width: 1440px) {
            margin: 0 -136px 0 -150px;
        }

        &__copyRight {
            @include font-set (600, 16px, 29.98px);

            color: $grey-soft;
        }

        nav {
            padding: 10px 0;

            @media screen and (min-width: 1024px) {
                padding: 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    @include font-set (400, 16px, 29.98px);
    
                    color: $grey;
                    text-align: center;
                    padding: 0 5px;
                    margin-bottom: 10px;
                    transition: all 0.2s ease-in;

                    &:hover {
                        color: $primary-soft;
                        cursor: pointer;
                    }

                    @media screen and (min-width: 768px) {
                        margin: 0;
                        max-width: 200px;
                        text-align: start;
                    }

                    a {
                        @media screen and (min-width: 768px) {
                            padding: 0 20px;
                        }

                        @media screen and (min-width: 1440px) {
                            padding: 0 41px;
                        }
                    }
                }
            }
        }

        &__signature {
            @include font-set (600, 16px, 29.98px);

            color: $grey-soft;

            span {
                color: red;
            }
        }
    }
}